@import "custom";
@import "./node_modules/bootstrap/scss/bootstrap";

*{margin: 0;padding: 0;}

/*Clases generales*/

header{
    a{
        text-decoration: none;
        margin: 10px;
        padding: 10px;
    }

    #iconoCarrito{
        border: solid 1px white;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 5px;
        background-color: white;
    }
}

header h1,nav{
    margin-top: 15px;
}


