@import "custom";
@import "./node_modules/bootstrap/scss/bootstrap";

*{margin: 0;padding: 0;}

/*Clases generales*/

nav{

    h1{
        color: teal;
    }

    a{
        text-decoration: none;
        margin: 10px;
        padding: 10px;
    }

    .navbar-nav{
        width: inherit;
    }

    button{
        width: 200px;
    }
}

#contenedorItems{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#item{
    width: 100px;
    margin-left: 50px;
    border: solid 1px black;
    padding: 10px;

    #incrementar, #decrementar{
        padding: 5px;
        display: inline-block;
    }
    
    #incrementar{
        float: left;
    }
    
    #decrementar{
        float: right;
    }
    
    #contadorPlace{
        display: inline-block;
        margin-left: 18%;
        margin-top: 5px;
    }
}





